<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>P1_eat00000</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{61,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,4},{61,93}}</string>
				<key>sourceSize</key>
				<string>{61,93}</string>
				<key>anchor</key>
				<string>{0.5877049180327869,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00001</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{61,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,4},{61,93}}</string>
				<key>sourceSize</key>
				<string>{61,93}</string>
				<key>anchor</key>
				<string>{0.5877049180327869,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00002</key>
			<dict>
				<key>frame</key>
				<string>{{71,5},{59,91}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
				<key>anchor</key>
				<string>{0.573728813559322,0.4186813186813187}</string>
			</dict>
			<key>P1_eat00003</key>
			<dict>
				<key>frame</key>
				<string>{{71,5},{59,91}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
				<key>anchor</key>
				<string>{0.573728813559322,0.4186813186813187}</string>
			</dict>
			<key>P1_eat00004</key>
			<dict>
				<key>frame</key>
				<string>{{135,5},{59,91}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
				<key>anchor</key>
				<string>{0.5567796610169492,0.4186813186813187}</string>
			</dict>
			<key>P1_eat00005</key>
			<dict>
				<key>frame</key>
				<string>{{135,5},{59,91}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
				<key>anchor</key>
				<string>{0.5567796610169492,0.4186813186813187}</string>
			</dict>
			<key>P1_eat00006</key>
			<dict>
				<key>frame</key>
				<string>{{135,5},{59,91}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
				<key>anchor</key>
				<string>{0.5567796610169492,0.4186813186813187}</string>
			</dict>
			<key>P1_eat00007</key>
			<dict>
				<key>frame</key>
				<string>{{135,5},{59,91}}</string>
				<key>offset</key>
				<string>{-5,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
				<key>anchor</key>
				<string>{0.5567796610169492,0.4186813186813187}</string>
			</dict>
			<key>P1_eat00008</key>
			<dict>
				<key>frame</key>
				<string>{{5,103},{59,91}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
				<key>anchor</key>
				<string>{0.573728813559322,0.4186813186813187}</string>
			</dict>
			<key>P1_eat00009</key>
			<dict>
				<key>frame</key>
				<string>{{5,103},{59,91}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,6},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
				<key>anchor</key>
				<string>{0.573728813559322,0.4186813186813187}</string>
			</dict>
			<key>P1_eat00010</key>
			<dict>
				<key>frame</key>
				<string>{{69,103},{63,93}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{63,93}}</string>
				<key>sourceSize</key>
				<string>{63,93}</string>
				<key>anchor</key>
				<string>{0.6007936507936508,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00011</key>
			<dict>
				<key>frame</key>
				<string>{{69,103},{63,93}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{63,93}}</string>
				<key>sourceSize</key>
				<string>{63,93}</string>
				<key>anchor</key>
				<string>{0.6007936507936508,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00012</key>
			<dict>
				<key>frame</key>
				<string>{{69,103},{63,93}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{63,93}}</string>
				<key>sourceSize</key>
				<string>{63,93}</string>
				<key>anchor</key>
				<string>{0.6007936507936508,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00013</key>
			<dict>
				<key>frame</key>
				<string>{{137,103},{59,88}}</string>
				<key>offset</key>
				<string>{-9,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,9},{59,88}}</string>
				<key>sourceSize</key>
				<string>{59,88}</string>
				<key>anchor</key>
				<string>{0.48898305084745763,0.4329545454545455}</string>
			</dict>
			<key>P1_eat00014</key>
			<dict>
				<key>frame</key>
				<string>{{137,103},{59,88}}</string>
				<key>offset</key>
				<string>{-9,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,9},{59,88}}</string>
				<key>sourceSize</key>
				<string>{59,88}</string>
				<key>anchor</key>
				<string>{0.48898305084745763,0.4329545454545455}</string>
			</dict>
			<key>P1_eat00015</key>
			<dict>
				<key>frame</key>
				<string>{{5,201},{59,87}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,10},{59,87}}</string>
				<key>sourceSize</key>
				<string>{59,87}</string>
				<key>anchor</key>
				<string>{0.47203389830508474,0.43793103448275866}</string>
			</dict>
			<key>P1_eat00016</key>
			<dict>
				<key>frame</key>
				<string>{{5,201},{59,87}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,10},{59,87}}</string>
				<key>sourceSize</key>
				<string>{59,87}</string>
				<key>anchor</key>
				<string>{0.47203389830508474,0.43793103448275866}</string>
			</dict>
			<key>P1_eat00017</key>
			<dict>
				<key>frame</key>
				<string>{{5,201},{59,87}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,10},{59,87}}</string>
				<key>sourceSize</key>
				<string>{59,87}</string>
				<key>anchor</key>
				<string>{0.47203389830508474,0.43793103448275866}</string>
			</dict>
			<key>P1_eat00018</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00019</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00020</key>
			<dict>
				<key>frame</key>
				<string>{{134,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00021</key>
			<dict>
				<key>frame</key>
				<string>{{134,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00022</key>
			<dict>
				<key>frame</key>
				<string>{{5,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00023</key>
			<dict>
				<key>frame</key>
				<string>{{5,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00024</key>
			<dict>
				<key>frame</key>
				<string>{{70,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00025</key>
			<dict>
				<key>frame</key>
				<string>{{70,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00026</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00027</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00028</key>
			<dict>
				<key>frame</key>
				<string>{{134,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00029</key>
			<dict>
				<key>frame</key>
				<string>{{134,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00030</key>
			<dict>
				<key>frame</key>
				<string>{{5,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00031</key>
			<dict>
				<key>frame</key>
				<string>{{5,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00032</key>
			<dict>
				<key>frame</key>
				<string>{{70,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00033</key>
			<dict>
				<key>frame</key>
				<string>{{70,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00034</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00035</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00036</key>
			<dict>
				<key>frame</key>
				<string>{{134,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00037</key>
			<dict>
				<key>frame</key>
				<string>{{134,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00038</key>
			<dict>
				<key>frame</key>
				<string>{{5,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00039</key>
			<dict>
				<key>frame</key>
				<string>{{5,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00040</key>
			<dict>
				<key>frame</key>
				<string>{{70,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00041</key>
			<dict>
				<key>frame</key>
				<string>{{70,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00042</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00043</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00044</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00045</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00046</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00047</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00048</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00049</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00050</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00051</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00052</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00053</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00054</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00055</key>
			<dict>
				<key>frame</key>
				<string>{{135,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00056</key>
			<dict>
				<key>frame</key>
				<string>{{135,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00057</key>
			<dict>
				<key>frame</key>
				<string>{{135,299},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00058</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00059</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00060</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00061</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00062</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00063</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00064</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00065</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00066</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00067</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00068</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00069</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00070</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00071</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00072</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00073</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00074</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00075</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00076</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00077</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00078</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00079</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00080</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00081</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00082</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00083</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00084</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00085</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00086</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00087</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00088</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00089</key>
			<dict>
				<key>frame</key>
				<string>{{69,201},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00090</key>
			<dict>
				<key>frame</key>
				<string>{{5,397},{60,97}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{60,97}}</string>
				<key>sourceSize</key>
				<string>{60,97}</string>
				<key>anchor</key>
				<string>{0.5975,0.39278350515463917}</string>
			</dict>
			<key>P1_eat00091</key>
			<dict>
				<key>frame</key>
				<string>{{5,397},{60,97}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,0},{60,97}}</string>
				<key>sourceSize</key>
				<string>{60,97}</string>
				<key>anchor</key>
				<string>{0.5975,0.39278350515463917}</string>
			</dict>
			<key>P1_eat00092</key>
			<dict>
				<key>frame</key>
				<string>{{70,397},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00093</key>
			<dict>
				<key>frame</key>
				<string>{{70,397},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00094</key>
			<dict>
				<key>frame</key>
				<string>{{70,397},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00095</key>
			<dict>
				<key>frame</key>
				<string>{{70,397},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00096</key>
			<dict>
				<key>frame</key>
				<string>{{70,397},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
			<key>P1_eat00097</key>
			<dict>
				<key>frame</key>
				<string>{{70,397},{60,93}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{60,93}}</string>
				<key>sourceSize</key>
				<string>{60,93}</string>
				<key>anchor</key>
				<string>{0.5975,0.4096774193548387}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>P1_eat.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>P1_eat.png</string>
		</dict>
	</dict>
</plist>
