<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol_100000</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{134,99}}</string>
				<key>offset</key>
				<string>{-97,-90}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,149},{134,99}}</string>
				<key>sourceSize</key>
				<string>{134,99}</string>
				<key>anchor</key>
				<string>{0.5003731343283583,0.506060606060606}</string>
			</dict>
			<key>Symbol_100001</key>
			<dict>
				<key>frame</key>
				<string>{{144,5},{133,105}}</string>
				<key>offset</key>
				<string>{-102,-86}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,143},{133,105}}</string>
				<key>sourceSize</key>
				<string>{133,105}</string>
				<key>anchor</key>
				<string>{0.46654135338345876,0.4961904761904761}</string>
			</dict>
			<key>Symbol_100002</key>
			<dict>
				<key>frame</key>
				<string>{{282,5},{133,112}}</string>
				<key>offset</key>
				<string>{-106,-82}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,136},{133,112}}</string>
				<key>sourceSize</key>
				<string>{133,112}</string>
				<key>anchor</key>
				<string>{0.43646616541353395,0.4919642857142857}</string>
			</dict>
			<key>Symbol_100003</key>
			<dict>
				<key>frame</key>
				<string>{{420,5},{134,119}}</string>
				<key>offset</key>
				<string>{-109,-78}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{184,129},{134,119}}</string>
				<key>sourceSize</key>
				<string>{134,119}</string>
				<key>anchor</key>
				<string>{0.41082089552238815,0.488235294117647}</string>
			</dict>
			<key>Symbol_100004</key>
			<dict>
				<key>frame</key>
				<string>{{559,5},{137,125}}</string>
				<key>offset</key>
				<string>{-110,-74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,123},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
				<key>anchor</key>
				<string>{0.39452554744525553,0.48079999999999995}</string>
			</dict>
			<key>Symbol_100005</key>
			<dict>
				<key>frame</key>
				<string>{{701,5},{142,132}}</string>
				<key>offset</key>
				<string>{-108,-70}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{176,116},{142,132}}</string>
				<key>sourceSize</key>
				<string>{142,132}</string>
				<key>anchor</key>
				<string>{0.394718309859155,0.47803030303030297}</string>
			</dict>
			<key>Symbol_100006</key>
			<dict>
				<key>frame</key>
				<string>{{848,5},{150,139}}</string>
				<key>offset</key>
				<string>{-104,-66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,109},{150,139}}</string>
				<key>sourceSize</key>
				<string>{150,139}</string>
				<key>anchor</key>
				<string>{0.40033333333333343,0.4755395683453237}</string>
			</dict>
			<key>Symbol_100007</key>
			<dict>
				<key>frame</key>
				<string>{{5,149},{159,146}}</string>
				<key>offset</key>
				<string>{-99,-62}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,102},{159,146}}</string>
				<key>sourceSize</key>
				<string>{159,146}</string>
				<key>anchor</key>
				<string>{0.409119496855346,0.4732876712328767}</string>
			</dict>
			<key>Symbol_100008</key>
			<dict>
				<key>frame</key>
				<string>{{169,149},{168,152}}</string>
				<key>offset</key>
				<string>{-94,-58}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{150,96},{168,152}}</string>
				<key>sourceSize</key>
				<string>{168,152}</string>
				<key>anchor</key>
				<string>{0.4169642857142858,0.4677631578947368}</string>
			</dict>
			<key>Symbol_100009</key>
			<dict>
				<key>frame</key>
				<string>{{342,149},{178,159}}</string>
				<key>offset</key>
				<string>{-88,-54}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,89},{178,159}}</string>
				<key>sourceSize</key>
				<string>{178,159}</string>
				<key>anchor</key>
				<string>{0.42724719101123604,0.46603773584905656}</string>
			</dict>
			<key>Symbol_100010</key>
			<dict>
				<key>frame</key>
				<string>{{525,149},{189,166}}</string>
				<key>offset</key>
				<string>{-81,-50}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,82},{189,166}}</string>
				<key>sourceSize</key>
				<string>{189,166}</string>
				<key>anchor</key>
				<string>{0.4394179894179895,0.46445783132530116}</string>
			</dict>
			<key>Symbol_100011</key>
			<dict>
				<key>frame</key>
				<string>{{719,149},{199,172}}</string>
				<key>offset</key>
				<string>{-75,-46}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,76},{199,172}}</string>
				<key>sourceSize</key>
				<string>{199,172}</string>
				<key>anchor</key>
				<string>{0.4474874371859297,0.4598837209302325}</string>
			</dict>
			<key>Symbol_100012</key>
			<dict>
				<key>frame</key>
				<string>{{5,326},{209,180}}</string>
				<key>offset</key>
				<string>{-69,-41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,68},{209,180}}</string>
				<key>sourceSize</key>
				<string>{209,180}</string>
				<key>anchor</key>
				<string>{0.45478468899521535,0.4561111111111111}</string>
			</dict>
			<key>Symbol_100013</key>
			<dict>
				<key>frame</key>
				<string>{{219,326},{220,187}}</string>
				<key>offset</key>
				<string>{-62,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,61},{220,187}}</string>
				<key>sourceSize</key>
				<string>{220,187}</string>
				<key>anchor</key>
				<string>{0.4638636363636364,0.45508021390374326}</string>
			</dict>
			<key>Symbol_100014</key>
			<dict>
				<key>frame</key>
				<string>{{444,326},{231,193}}</string>
				<key>offset</key>
				<string>{-55,-33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,55},{231,193}}</string>
				<key>sourceSize</key>
				<string>{231,193}</string>
				<key>anchor</key>
				<string>{0.47207792207792215,0.4512953367875647}</string>
			</dict>
			<key>Symbol_100015</key>
			<dict>
				<key>frame</key>
				<string>{{680,326},{241,200}}</string>
				<key>offset</key>
				<string>{-49,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,48},{241,200}}</string>
				<key>sourceSize</key>
				<string>{241,200}</string>
				<key>anchor</key>
				<string>{0.4773858921161826,0.45049999999999996}</string>
			</dict>
			<key>Symbol_100016</key>
			<dict>
				<key>frame</key>
				<string>{{5,531},{252,207}}</string>
				<key>offset</key>
				<string>{-42,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,41},{252,207}}</string>
				<key>sourceSize</key>
				<string>{252,207}</string>
				<key>anchor</key>
				<string>{0.4843253968253969,0.4497584541062802}</string>
			</dict>
			<key>Symbol_100017</key>
			<dict>
				<key>frame</key>
				<string>{{262,531},{263,213}}</string>
				<key>offset</key>
				<string>{-35,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,35},{263,213}}</string>
				<key>sourceSize</key>
				<string>{263,213}</string>
				<key>anchor</key>
				<string>{0.4906844106463879,0.4464788732394366}</string>
			</dict>
			<key>Symbol_100018</key>
			<dict>
				<key>frame</key>
				<string>{{530,531},{274,220}}</string>
				<key>offset</key>
				<string>{-28,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,28},{274,220}}</string>
				<key>sourceSize</key>
				<string>{274,220}</string>
				<key>anchor</key>
				<string>{0.4965328467153285,0.44590909090909087}</string>
			</dict>
			<key>Symbol_100019</key>
			<dict>
				<key>frame</key>
				<string>{{5,756},{284,227}}</string>
				<key>offset</key>
				<string>{-21,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,21},{284,227}}</string>
				<key>sourceSize</key>
				<string>{284,227}</string>
				<key>anchor</key>
				<string>{0.5036971830985916,0.445374449339207}</string>
			</dict>
			<key>Symbol_100020</key>
			<dict>
				<key>frame</key>
				<string>{{294,756},{295,233}}</string>
				<key>offset</key>
				<string>{-14,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,15},{295,233}}</string>
				<key>sourceSize</key>
				<string>{295,233}</string>
				<key>anchor</key>
				<string>{0.5086440677966102,0.44248927038626606}</string>
			</dict>
			<key>Symbol_100021</key>
			<dict>
				<key>frame</key>
				<string>{{594,756},{306,240}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,8},{306,240}}</string>
				<key>sourceSize</key>
				<string>{306,240}</string>
				<key>anchor</key>
				<string>{0.5132352941176471,0.44208333333333333}</string>
			</dict>
			<key>Symbol_100022</key>
			<dict>
				<key>frame</key>
				<string>{{5,1001},{318,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-318,-248},{318,248}}</string>
				<key>sourceSize</key>
				<string>{318,248}</string>
				<key>anchor</key>
				<string>{0.5158805031446542,0.43991935483870964}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Symbol_1.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>Symbol_1.png</string>
		</dict>
	</dict>
</plist>
