<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>切换00000</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{201,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-201,-201},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
				<key>anchor</key>
				<string>{0.49950248756218907,0.5007462686567165}</string>
			</dict>
			<key>切换00001</key>
			<dict>
				<key>frame</key>
				<string>{{5,211},{201,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-201,-201},{201,201}}</string>
				<key>sourceSize</key>
				<string>{201,201}</string>
				<key>anchor</key>
				<string>{0.49950248756218907,0.5007462686567165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>切换.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>切换.png</string>
		</dict>
	</dict>
</plist>
